* {
    font-family: JetBrainsMono Nerd Font Propo;
    font-size: 16px;
}

window#waybar {
    background-color: rgba(30, 30, 46, 0.0);
    color: #cdd6f4;
}

.modules-left {
    background: rgb(30, 30, 46);
    border: 1px solid #cdd6f4;
    margin-left: 20px;
    padding: 0 20px 0 10px;
    border-radius: 19px;
}

#custom-os {
    font-size: 28px;
}

#workspaces button {
    color: #cdd6f4;
}

#clock {
    background: rgb(30, 30, 46);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 19px;
    border: 1px solid #cdd6f4;
}

#group-info {
    background: rgb(30, 30, 46);
    border: 1px solid #cdd6f4;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 19px;
}

#battery {
    margin-right: 10px;
}

#group-network {
    margin-left: 10px;
    margin-right: 10px;
}

#pulseaudio {
    margin-left: 10px;
}

#group-power {
    background: rgb(30, 30, 46);
    border: 1px solid #cdd6f4;
    margin-right: 20px;
    padding: 0 12px;
    border-radius: 19px;
}

#custom-quit {
    margin-right: 20px;
    color: #94e2d5;
}

#custom-lock {
    margin-right: 20px;
    color: #f5c2e7;
}

#custom-reboot {
    color: #f9e2af;
}

#custom-power {
    color: #f38ba8;
}
