* {
    font-family: JetBrainsMono Nerd Font Propo;
    font-size: 16px;
    margin: 0 0 0 0;
}

window#waybar {
    background-color: #1e1e2e;
    color: #cdd6f4;
}

#workspaces button {
    color: #cdd6f4;
}

#custom-os {
    font-size: 28px;
    margin-left: 10px;
}

#clock {
    margin-right: 10px;
}
