* {
    font-family: JetBrainsMono Nerd Font Propo;
    font-size: 16px;
}

window#waybar {
    background-color: #1e1e2e;
    color: #cdd6f4;
}

#workspaces button {
    color: #cdd6f4;
}

#custom-os {
    font-size: 28px;
    margin-left: 20px;
}

#pulseaudio {
    margin-right: 20px;
}
